[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
pendulum = "*"
mysqlclient = "*"
sqlalchemy = "*"
fastapi = "*"

[dev-packages]
apache-airflow = {version = "==2.6.3", extras = ["celery"]}

[requires]
python_version = "3.10"
